body{
    width: 80%;
    max-width: 940px;
    margin-left: auto;
    margin-right: auto;
    font-family: "Helvetica","Lucida Grande",sans-serif;
    font-size: 16px;
    line-height: 1.6;
    color: #3d3d3d;
}
.titulo{
    padding: 10px;
    background-color: #E1EDF2;
}
.subtitulo{
  border-bottom: #3d3d3d solid 2px;  
}
figure{
    margin: 30px;
    padding: 15px;
    text-align: center;
    background-color:	whitesmoke;
    border: 1px	solid	lightgrey;
    
}
figcaption{
    margin-top: auto;
}
.matriz-musicdot{
    width: 550px;
    margin-right:auto;
    margin-left:auto ;
}
.familia-tupfeln{
    width: 275px;
    float: right;
}
figure img
{
    width: 100%;
}

.contato_subtitulo
{
    display: inline;
}
.contato_secao
{
    display: inline-block;
    vertical-align: top;
    margin-left: 16px;
}
.contato_secao--telefone
{
    margin-left: 32px;
}
.contato_info
{
    margin: 16px 0 24px;
    padding-left: 32px ;
}
.contato_info-titulo,
.contato_info-descricao
{
    display: inline;
}
.contato_info-descricao{
    margin-left: 10px;
}
.rodape
{
    text-align: center;
    padding: 1.75em 0;
    font-size: 1.1rem;
}
.rodape_logo
{
   width: 6em;
}
.rodape_copyrigth
{ 
    display: inline;
    margin-left: 1em;
}
@media(max-width:850px)
{
    .contato_secao
    {
        display: block;
        margin-left: 1em;
    }
}
@media(max-width:622px)
{
    .familia-tupfeln
    {
        float: none;
        margin: 0 auto;
    }
}
@media(max-width:446px)
{
    .contato_subtitulo
    {
        display: block;
        margin-bottom: 0;
    }
    .contato_info
    {
        padding-left: 5px;
        font-size: 9em;
        border-left: 2px solid lightgray;
    }
    .rodape
    {
        font-size: 9em;
    }
}
@media(max-width:342px)
{
    .contato_subtitulo
    {
        display: block;
        margin-bottom: 0;
    }
    .contato_info
    {
        padding-left: 5px;
        font-size: 1em;
        border-left: 2px solid lightgray;
    }
    .rodape
    {
        font-size: 1em;
    }
    .contato_info-descricao
    {
        display: block;
        margin-left: 1em;
    }
}