.rodape
{
    padding: 2em 5%;
    text-align: center;
    font-size: 0,7rem;
}
.rodape_logo
{
    width: 11.25em;
    margin-bottom: 1em;
}
.rodape_lista-midias-sociais
{
    display: flex;
    justify-content: center;
}
.rodape_media-empresa
{
    
}
.rodape_item-medias-sociais
{
    width: 2.62em;
}
.rodape_item-medias-sociais img
{
    width: 100%;
}
.rodape_titulo
{
    font-size: 1,45em;
    font-weight: bold;
    text-transform: uppercase;
}
.rodape_item-lista
{
    font-weight: 500;
}